@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: #7a56f4;
}

:root {
    --black: rgb(4, 4, 4);
    --white: #fff;
    --grey: #ededed;
    --blue: #007acb;
    --green: #53abb5;
    --green-p: #1d758d;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--black);
}

.up i {
    color: #fff;
    position: fixed;
    bottom: 0;
    right: -100px;
    margin: 20px;
    z-index: 9;
    border: none;
    background-color: #7a56f4;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.up .show {
    right: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
}

.navbar.sticky {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.menu {
    padding: 10px 0;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.title {
    max-width: 700px;
    text-align: center;
}

.title h1 {
    font-size: 20px;
    font-weight: normal;
    width: 400px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.title h1 span {
    color: #7a56f4;
    font-weight: bold;
}

.menu .social-media a {
    cursor: pointer;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s linear;
    /* margin-right: 5px; */
    margin: 5px;
    display: inline-block;
}

.menu .social-media a:first-child {
    padding: 5px 10px;
}

.menu .social-media a:nth-child(2) {
    padding: 5px 8px;
}

.menu .social-media a:nth-child(3) {
    background-color: #7a56f4;
    color: #fff;
    padding: 5px 8px;
}

.menu .social-media a:last-child {
    padding: 5px 8px;
    margin-right: 0px;
    background-color: #7a56f4;
    color: #fff;
}

.menu .social-media a:last-child:hover,
.menu .social-media a:nth-child(3):hover {
    background-color: #fff;
    color: #000;
}

.menu .social-media a:hover {
    background-color: #7a56f4;
    color: #fff;
}

@media(max-width:768px){
    .menu .social-media {
        display: none;
    }
}
@media(max-width:567px) {
    .title h1 {
        font-size: 15px;
        font-weight: normal;
        width: 200px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }


    .logo {
        max-width: 120px;
    }
}


/* content******************************************************************************************************************* */
.sec1 {
    background: url('../img/pic3.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.content {
    padding: 90px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.description h1 {
    /* color:#7a56f4; */
    margin: 0;
    padding: 20px 0 10px;
}

.description span {
    display: block;
    height: 7px;
    width: 120px;
    background-color: #7a56f4;
    margin-bottom: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.description p {
    max-width: 500px;
    width: 100%;
    line-height: 2;
    color: #000;
    margin: 30px 0 0px;
}

#discover {
    background-color: #7a56f4;
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    margin: 30px 0;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}

#discover:hover {
    box-shadow: none;
}

#discover i {
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}

#discover:hover i {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

@media(max-width:567px) {
    .description p {
        font-size: 13px;
        line-height: 1.5;
    }
}

/* departement************************************************************************************************************************************ */
#departement {
    margin-top: -60px;
}

.info {
    flex-wrap: wrap;
    justify-content: center;
}

.info p i {
    display: block;
    color: #7a56f4;
    margin: 0 0 20px;
    font-size: 30px;
}

.info p {
    background-color: #fff;
    padding: 40px 30px;
    margin: 10px 0;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5;
    color: #000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.info p span {
    display: block;
    margin: 10px 0;
    color: #000;
    font-weight: normal;
}

/* M1 Les semestres****************************************************************************************************************************** */
.module1 {
    margin: 40px 0;
}

.module1 .bd {
    display: block;
    width: 50px;
    height: 7px;
    background-color: #7a56f4;
}

.module1 .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 40px 0;
}

.module1 .M1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.module1 .M1 p {
    line-height: 1.5;
    text-transform: capitalize;
    padding: 10px 0 20px;
}

.semestre1 h2,
.semestre2 h2 {
    padding: 10px 20px;
    color: #7a56f4;
    margin: 10px 0 0;
    cursor: pointer;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.semestre2 h2 {
    border: none;
}

.semestre1 h2 i,
.semestre2 h2 i {
    margin-right: 10px;
    font-size: 19px;
}

.semestre1 ul,
.semestre2 ul {
    list-style: circle;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 30px;
    display: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.semestre1 ul li,
.semestre2 ul li {
    line-height: 2;
}

.myslide {
    max-width: 350px;
}

.swiper-slide {
    max-width: 500px;
    transition: all .9s linear alternate;
    -webkit-transition: all .9s linear alternate;
    -moz-transition: all .9s linear alternate;
    -ms-transition: all .9s linear alternate;
    -o-transition: all .9s linear alternate;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media(max-width:992px) {
    .module1 .box {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* high**************************************************************************************************************************************** */
.heigh {
    margin: 40px 0;
    padding: 40px 0;
    position: relative;
}

.heigh::before {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    background: linear-gradient(to left, #7a56f4, #9654f2, #7b55f6);
    height: 150px;
    z-index: -1;
}

.tips {
    flex-wrap: wrap;
    justify-content: center;
}

.heigh span {
    display: block;
    width: 50px;
    height: 7px;
    background-color: #7a56f4;
    margin-bottom: 60px;
}

.heigh .tap1 {
    padding: 45px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.heigh .tap1 i {
    color: #7a56f4;
    font-size: 25px;
    margin-bottom: 10px;
}

.heigh .tap1 h2 {
    margin-bottom: 10px;
    color: #29176a;
}

/* M2************************************************************************************************************************************************ */
.module2 {
    padding: 40px 0;
    margin: 40px 0;
}

.module2 .bd {
    display: block;
    width: 50px;
    height: 7px;
    background-color: #7a56f4;
}

.module2 .Mbx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.M2 {
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    margin: 40px 0;
}

.M2 p {
    line-height: 1.7;
    text-transform: capitalize;
    padding: 10px 0 20px;
}

.s1 ul,
.s2 ul,
.s3 ul,
.s4 p {
    background-color: #fff;
    list-style: circle;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 30px;
    display: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}

.s1 ul li,
.s2 ul li,
.s3 ul li {
    line-height: 2;
}

.s1 h2 i,
.s2 h2 i,
.s3 h2 i {
    margin-right: 10px;
    font-size: 19px;
}

.s1 h2,
.s2 h2,
.s3 h2 {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20px;
    color: #7a56f4;
    margin: 10px 0 0;
    cursor: pointer;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.s3 h2 {
    border: none;
}

.contentBX.active ul,
.contentBX.active .s4 p {
    height: fit-content;
    display: block;
}

.blob {
    border-radius: 53% 47% 40% 47% / 88% 57% 42% 19%;
    -webkit-border-radius: 53% 47% 40% 47% / 88% 57% 42% 19%;
    -moz-border-radius: 53% 47% 40% 47% / 88% 57% 42% 19%;
    -ms-border-radius: 53% 47% 40% 47% / 88% 57% 42% 19%;
    -o-border-radius: 53% 47% 40% 47% / 88% 57% 42% 19%;
    background: linear-gradient(to left, rgb(203, 34, 169), rgb(138, 0, 188), #7a56f4);
    width: 440px;
    height: 400px;
    position: relative;
}

.blob .image {
    position: absolute;
    bottom: 0;
    right: 10px;

}

@media(max-width:567px) {
    .blob .image {
        right: -25px;

    }
}

/* savoir faire ********************************************************************************************************************************************** */
.savoir-faire {
    margin: 0 0 10%;
}

.savoir-faire .bd {
    display: block;
    width: 100px;
    height: 7px;
    background-color: #7a56f4;
    margin-bottom: 60px;
}

.savoir-faire .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto;
}

.savoir-faire h2 {
    display: inline-block;
    background-color: #7a56f4;
    padding: 15px 20px;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.savoir-faire .p1 h2 {
    padding: 10px 20px;
}

.savoir-faire .p1,
.p2,
.p3,
.p4,
.p5 {
    cursor: pointer;
    background-color: #fff;
    padding: 40px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.savoir-faire .p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.savoir-faire .p1 h2,
.p2 h2,
.p3 h2,
.p4 h2,
.p5 h2 {
    margin-bottom: 20px;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}

.savoir-faire .p1 h2:hover,
.p2 h2:hover,
.p3 h2:hover,
.p4 h2:hover,
.p5 h2:hover {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.savoir-faire p {
    text-transform: capitalize;
    cursor: auto;
}
@media(max-width:768px){
    .savoir-faire .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* conditions d'admission************************************************************************************************************************* */
.amission {
    background: url('../img/pic13.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.amissionX {
    height: 100vh;

}

.conditions h2 i {
    margin-right: 15px;
    font-size: 20px;
}

.conditions p {
    max-width: 500px;
    line-height: 2;
    color: #000;
    margin: 30px 0 0px;
}

@media(max-width:567px) {
    .conditions h2 {
        font-size: 20px;
    }

    .conditions p {
        font-size: 13px;
        line-height: 1.5;
    }
}

/* footer*********************************************************************************** */
footer {
    background: #000;
    width: 100%;
    /* padding: 40px 0; */
    /* margin:40px 0 0;s */
    background-image: url('../img/main-bg.jpg');
}

footer .last {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

footer .logo-f {
    width: 300px;
    background-color: #fff;
    padding: 40px;
    box-shadow: -0px -5px 10px rgba(0, 0, 0, 0.3);
}

.logo-f img {
    width: 100%;
    height: 100%;
}

footer .last .contact {
    max-width: 300px;
    padding: 60px 0 0;
    margin: 0 auto;
}

footer .last .contact ul {
    list-style: none;
    color: #fff;
    text-align: center;
}

footer .last .contact ul li:first-child {
    line-height: 1.5;
}

footer .last .contact ul li i {
    margin-right: 8px;
}

footer .last .contact ul li {
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px auto;
    color: #000;
    max-width: 300px;
    width: 100%;
}

footer .last .contact ul li:last-child {
    background-color: #9654f2;
    color: #fff;
}

footer .map {
    padding: 60px 0 0;
    width: 700px;
    height: 350px;
}

footer .map iframe {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

footer .social-media {
    margin: 20px 0 0;
    text-align: center;
}

footer .social-media a:first-child {
    padding: 10px 13px;
}

footer .social-media a {
    color: #000;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin: 0 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}

footer .social-media a:hover {
    background-color: #7b55f6;
    color: #fff;
}

footer #para {
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 30px 0;
    text-transform: capitalize;
}

@media(max-width:768px) {
    footer .logo-f {
        width: 300px;
        background-color: #fff;
        padding: 20px;
        margin: 0 10px;
        box-shadow: -0px -5px 10px rgba(0, 0, 0, 0.3);
    }

    footer .last {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    footer .last .contact ul li {
        max-width: 255px;
        text-align: center;
    }
}