@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ::selection {
}
:root {
} */
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    height: 5000px;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
p {
    line-height: 1.5;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.up i {
    color: #000;
    position: fixed;
    bottom: 0;
    right: -100px;
    margin: 20px;
    z-index: 9;
    border: none;
    background-color: #ddd;
    font-size: 20px;
    padding: 20px 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}
.up .show {
    right: 0;
}
/* header {
    height: 90px;
}
@media (max-width: 992px) {
    header {
        height: 70px;
    }
}
@media (max-width: 768px) {
    header {
        height: 60px;
    }
}
@media (max-width: 500px) {
    header {
        height: 30px;
    }
} */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: 0.6s linear;
    -webkit-transition: 0.6s linear;
    -moz-transition: 0.6s linear;
    -ms-transition: 0.6s linear;
    -o-transition: 0.6s linear;
    background-color: #ddd;
}
.navbar.sticky {
    background-color: #f5f5f5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.navbar .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
nav {
    position: relative;
}
.toggle-open {
    color: #000;
    padding: 10px;
}
.toggle-close,
.toggle-open {
    display: none;
    cursor: pointer;
    font-size: 30px;
    margin: 0 20px;
}
.toggle-close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--black);
}
nav ul li {
    display: inline-block;
    padding: 0 15px;
}
nav ul li a {
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
    color:#000;
}
nav ul li a:hover,
nav ul li .link-active {
    color: var(--red);
}
nav ul li:last-child .btn {
    border: 2px solid transparent;
    font-weight: bold;
    /* padding: 10px 25px 7px; */
    border-radius: 30px;
    margin-top:30px;
}
@media(max-width:992px){
    .toggle-close,
    .toggle-open {
        display: block;

    }
    nav {
        padding-top: 40px;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        background-color: #ffffffe8;
        max-width: 400px;
        transition: all .4s linear;
        -webkit-transition: all .4s linear;
        -moz-transition: all .4s linear;
        -ms-transition: all .4s linear;
        -o-transition: all .4s linear;
    }

    nav.active {
        right: 0;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin-top: 65px;
    }
}
 

/* content******************************************************************************************************************************** */
.content{
    background-image: url('../img/pic1.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.f-content{
    display: flex;
    align-items: center;
    gap:30px;
}
.contentbx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.contentbx .title h1{
    line-height: 1.4;
    font-size: 2.8rem;
}
.text p{
    max-width: 500px;
    line-height: 1.7;
}
.contentbx .buttons{
    display: flex;
}
.contentbx .btn2{
    display: block;
    margin:40px 5px 0;
    padding: 10px 20px;
    background-color: #000;
    color:#fff;
}
.contentbx .btn2 i{
    font-size: 17px;
    margin-left: 10px;
}
.box {
    max-width: 500px;
}
.box .bit-box{
    background-color: #fff;
    padding: 20px;
    margin:40px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.box .bit-box i{
    margin-right:5px;
    font-size: 25px;
}
.box .bit-box span{
    line-height: 1.8;
}
/* in-touch********************************************************************************************************************************************** */
.in-touch{
    background-color: #ddd;
    padding: 40px 0;
}
.connectbx{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap:20px;
    margin: o auto;
}
.connect h2{
    padding: 20px 0 40px;
}
.checkbox {
    width: 700px;
}
.checkbox input{
    padding:  15px 30px;
    max-width: 500px;
    width: 100%;
    border:1px solid #eee;
    outline:none;
    border-radius: 5px;
}
.connectbx .btn3{
    display: block;
    max-width: 200px;
    width: 100%;
    text-align: center;
    padding: 15px 20px;
    background-color: #000;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}
/* small testimonials******************************************************************************************************************************************* */
.sm-testimonials{
    margin:10% 0;
}
.sm-testimonials .testi-bx{
    gap:30px;
}
.sm-testimonials .testi{
    padding: 10px ;
    background-color: #ddd;
    margin:15px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.sm-testimonials .image{
    max-width: 80px;
}
.sm-testimonials .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.sm-testimonials .list{
    margin: 60px auto 0;
    max-width: 400px;
}
.sm-testimonials .list li{
    margin:10px 0;
    text-align: center;
}
.sm-testimonials .list li i{
    font-size: 10px;
    padding: 10px;
    margin-right: 20px;
    background-color: #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.sm-testimonials .pic{
    max-width: 470px;
    background-color: #ddd;
    border-radius: 62% 39% 58% 47% / 77% 31% 42% 22% ;
    -webkit-border-radius: 62% 39% 58% 47% / 77% 31% 42% 22% ;
    -moz-border-radius: 62% 39% 58% 47% / 77% 31% 42% 22% ;
    -ms-border-radius: 62% 39% 58% 47% / 77% 31% 42% 22% ;
    -o-border-radius: 62% 39% 58% 47% / 77% 31% 42% 22% ;
}
/* info*************************************************************************************************************************************************************** */
.info{
    margin:10% 0;
}
.info h1{
    text-align: center;
    padding: 20px;
}
.info .grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:20px;
}
.info  .p1, .p2, .p3, .p4{
    background-color: #fff;
    padding: 20px 25px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.info  .p1 i, .p2 i, .p3 i, .p4 i{
    padding: 20px 0;
    font-size: 30px;
    display: block;
}
.info  .p1 h2, .p2 h2, .p3 h2, .p4 h2{
    padding: 0 0 20px;
    font-size: 30px;
}
/* doctors********************************************************************************************************************************************************** */
.doctors {
    margin: 0 0 10%;
    text-align: center;
}
.doctors h1{
    padding-bottom: 30px;
}
.doctors .doc{
    background-color: #fff;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.doctors .doc h3{
    text-align: center;
    margin-top: 20px;
}
.doctors .doc .image{
    max-width: 500px;
}
.doctors .doc .image img{
    width: 100%;
    height: 100%;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.doctors .btn4{
    color:#fff;
    display: inline-block;
    padding: 15px 30px;
    background-color: #000;
    margin:40px auto 0;
}
/* slider********************************************************************************************************************************************************** */
.slider {
    margin-bottom: 70px;
    /* background-color: #ddd; */
    position: relative;
}
.slider .text-s::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    max-width: 600px;
    width: 100%;
    height: 500px;
    clip-path: circle(50% at 10% 11%);
    background-color: #ddd;
    z-index: -1;
}
.slider .text-s p{
    max-width: 500px;
    line-height: 2;
}
.slider .myslide {
    max-width: 350px;
}
.slider .swiper-slide {
    max-width: 500px;
    transition: all .9s linear alternate;
    -webkit-transition: all .9s linear alternate;
    -moz-transition: all .9s linear alternate;
    -ms-transition: all .9s linear alternate;
    -o-transition: all .9s linear alternate;
}
.slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
/* testimonials******************************************************************************************************************************************* */
.testimonials{
    padding: 30px 0;
    margin-bottom: 40px;
}
.testimonials h1{
    text-align: center;
    margin-bottom: 60px;
}
.testimonials .myslide {
    max-width: 800px;
    margin:0 auto;
}
.testimonials .swiper-slide .testimonial{
    background-color: #ddd;
    padding: 20px;
}
.testimonials .swiper-slide .pic{
    max-width:300px;
}
.testimonials .swiper-slide .pic img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


/* map********************************************************************************************************************************************************** */
.map {
    margin: 40px 0;
}
.map h5{
    text-align: center;
    margin:30px;
}
.map .map-x iframe{
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
















/* footer************************************************************************************************************************************************************ */
footer{
    background-color: #ddd;
    padding: 60px 0;
}
footer .step3 .logo{
    margin-bottom: 20px;
}
footer .step1 p{
    max-width: 290px;
    line-height: 2;
}
footer .step1 .social-media{
    margin: 25px 0;
}
footer .step1 .social-media a{
    background-color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
footer .step1 .social-media a i{
    color:#000
}
footer .step3  h2{
    margin-bottom: 20px;
}
footer .step3 .a1{
    margin-bottom: 20px;
}
footer .step3 .picture{
    max-width: 100px;
}
footer .step3 .picture img{
    width: 100%;
    height: 100%;
}
footer .step2 h2{
    margin-bottom: 20px;
}
footer .step2 ul li{
    margin-bottom: 15px;
}